h4{
    color: yellow;
}
#but
{
    color: red;
    background-color: black;
    text-transform: capitalize;
    width: 460px;
    height: 20px;

}
#change
{
    border:dashed;
    border: dotted;
    text-align: center;
    color: chartreuse;
    background-color: crimson;
}
div
{
    background-color: black;  
    border: dotted;
    height:300px;
    width: 300px;

}
#new
{
    background-color: coral;
    height:400px;
    width:600px;
  
    margin-top: 40px;
    margin-left:400px ;
    

}
#orginal
{
    height:400px;
    width:600px;
    margin-top: 20px;
    margin-left: 400px;
    padding:60px;
}