body{
    margin:0;
}
.header
{
    width: 100%;
    height:78px;
    background-color:#3b5998;

}
.logo
{
        width: 50%;
        padding-top: 32px;
        /* padding is added because the margin-top is not working
        to move the facebook down we have used padding */
       
}
.logo-text
{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 170px;
    
}
.login{
    width:50%;
}