body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    width: 100%;
    height: 87px;
    background-color: #3b5998;
}

.logo {
    width: 50%;
    padding-top: 32px;
    float: left;
    /* padding is added because the margin-top is not working
        to move the facebook down we have used padding */
}

.logo-text {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 170px;
    float: left;
}

.login {
    width: 50%;
    float: left;
}

.same {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    font-size: 16px;
}

.login-button {
    border-color: blue;
    margin: 7px;
    padding: 2px;
    color: white;
    background: none;
    height: 24px;
    cursor: pointer;
}

.login-button:hover {
    background: darkblue;
}

.input-box {
    border-color: #1d2a5b;
    margin: 0;
    width: 142px;
    padding-bottom: 4px;
    border: 1px solid #ccd0d5;
    border-top-color: rgb(204, 208, 213);
    border-right-color: rgb(204, 208, 213);
    border-bottom-color: rgb(204, 208, 213);
    border-left-color: rgb(204, 208, 213);
    border-radius: 0;
    margin: 0;
    padding: 3px;
    padding-bottom: 3px;
    background-color: #fff;
    color: #1c1e21;
}

.fg-btn {
    color: #9cb4d8;
    font-weight: normal;
    text-decoration: none;
    font-size: 13px;
}


/* Header coding End's */


/* main codind */

.main {
    background: linear-gradient(white, #D3D8E8);
    height: 500px;
    width: 100%;
}

.sect-1 {
    width: 50%;
    float: left;
    padding-left: 43px;
    padding-bottom: 155px;
    margin-left: 115px;
    padding-top: 108px;
    padding-right: 165px;
}

.quote {
    font-size: 19px;
    font-weight: bold;
    color: #0e385f;
    line-height: 29px;
    word-spacing: -1px;
}

.fb-img {
    width: 516px;
}

.sect-2 {
    width: 26%;
    float: left;
}

.create {
    font-size: 31px;
    padding-left: -86px;
    color: #333;
    font-weight: 600;
    line-height: 1.34px;
}

.quick {
    color: #1d2129;
    font-size: 19px;
}
.valid{
    background-color: #0e385f;
    
}
.bx1{
    margin-left: -85px;
    width: 12%;
    
}
.bx2{
    margin-left: -85px;
    width: 12%;
    margin-left: 10px;;
}
.email{
    
width: 296px;

padding-left: 61px;
margin: -85px;
margin-top: 14px;
}
.npass{
  
    
        width: 296px;
        
        padding-left: 61px;
        margin: -85px;
        margin-top: 21px;
     
        
}
.birthday{
    margin-left: -81px;
    color:#808080;
    margin-top: 46px;
    
}
.align{
    margin-left: -82px;;
}
.align2{
    margin-left: -20px;
}
.aligining{
    margin-top: -44px;
}
.Gender{
   
}
.gen{
    color:#808080;
    margin-top: 8px;
    margin-right: -110px;
    margin-left: -82px;
}
.female{
    margin-left: -78px;
}
.male{
    margin-left: -109px;
}
.custom{
    margin-left: -133px;
}
.fm{
    margin-left: -26px;
}
.ml{
    margin-left: -152px;
}
.cu{
    margin-left: -78px;
}
.signupbtn{
    background-color: #00a400;
    height: 33px;
    width: 138px;
    margin-top: 10px;
    padding: 8px;
    margin-left: -81px;
    border: none;
    text-shadow: none;
    font-size: 17px;
    overflow: hidden;
    margin-right: -80px;
}
.move{
    background-color: greenyellow;
}